*{
    margin:0;
    padding: 0;
}
body{
    background-color: rgba(128, 128, 128, 0.479);
} 

#header {
    height: 3rem;
    position: sticky;
    top: 0;
    z-index: 1;
    /* background-color: #30A2FF; */
    /* background-image: linear-gradient(45deg,#FF0060,red); */
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    font-size: large;
  
  }
  .icon{
    width: 32px;
    height: auto;
    display: inline-block;
  
    /* right: 44%; */
  }
  .title_main{
    display: flex;
    align-items: center;
    position: relative;
    right: 20rem;
  }
  .icon_link{
    /* position: relative; */
    color: aliceblue;
    text-decoration: none;
    font-size: 1.4rem;
    padding-left: 0.5rem;
    font-weight: 600;
    font-family: "Nunito";
  
    /* right: 42%; */
  }
  .icon_link:hover,
  .icon_link:focus{
    filter: brightness(120%);
  }
  .top {
    margin-inline: 1rem;
    color: rgba(255, 255, 255, 0.824);
    /* text-shadow: 2px 2px 2px black; */
    padding-inline: 10px;
    font-weight: 500;
    text-decoration: none;
  }
  
  .top:hover,
  .top:focus {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.621);
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 15px;
  }
  

            .par
        {
            font-size: large;
            color: rgb(67, 68, 69);
        }
        h1{
            margin-top: 50px;
            color: blueviolet;
            margin-left: 127px;
        }
        .par{
            margin-left: 130px;
            font-size: 18px;
        }
        span{
            color:black;
        }
        
        #contact{
            background-color: teal;
            min-height: 12rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* align-items: center; */
            gap: 2rem;
            min-height: 200px;
             /* height: 200px; */
          }
          .linkage{
            font-size: 1.3rem;
            font-family: 'Nunito';
            text-decoration: none;
            color: white;
            /* background-image: linear-gradient(-45deg, #F9F5F6,#D2E9E9,#CDF0EA,#F9F9F9); */
            font-weight: 600;
            /* -webkit-background-clip: text; */
            cursor:pointer;
          }
          .linkage:hover{
            text-decoration: underline;
          }
          .footer{
            align-items: center;
            /* width: 729px; */
            /* font-family: "Nunito"; */
            justify-content: space-evenly;
            padding-bottom:1rem ;
            display: flex;
            /* padding: 61px 30px 34px 466px */
          }
          .footer-head{
            
            font-family: 'Nunito';
            padding-top: 2rem;
            font-size: 2rem;
            color: white;
            text-align: center;
          
          }
          .faq_don{
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
          }
          .sm_link{
            color:white;
            font-size: 1rem;
            padding: 0.2rem;
            font-family: 'Roboto';
            /* margin-top: 1rem; */
            text-decoration: none;
            font-weight: 300;
            /* -webkit-background-clip: text; */
            /* color: transparent; */
            cursor:pointer;
          }
          .sm_link:hover{
            text-decoration: underline;
            filter:contrast(120%)
          }
          .terms{
            text-align: center;
          }
          .tm_link{
            color: aliceblue;
            font-weight: 200;
            font-size: 1rem;
            padding-right: 1rem;
            text-decoration: none;
            padding-bottom:1rem ;
          }
          .terms a:hover{
            filter: brightness(140%);
            /* color: black; */
          }
          .inlinee{
            display: inline-block;
            cursor: auto;
          }